@import "tailwindcss";
:root {
  --swiper-theme-color: #ec4899; /* Color Rosa para los puntos */
  --swiper-navigation-size: 24px;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* Color de los puntitos de paginación de Instagram */
.swiper-pagination-bullet-active {
  background: #ec4899 !important; /* El rosa de tu diseño */
}
